<div id="define">
	<p id="person_title23"><span class="define">Webster</span> defines bountiful like this:</p>
	<p id="person_title23"><i>Adjective:</i> given or provided abudantly</p><br><br>
	<p id="person_title23"><span class="define">One Utah city</span> defines Bountiful like this:</p>
	<p id="person_title23"><i>Hometown:</i> giving or providing abudantly</p>
</div>
<div id="about_div1">
	<img id="about_img3" src="/img/define1.jpg">
</div>
<div id="about_div2">
	<p id="about_text">Inspiring definitions for a town and an outlook on life. As a life-long advocate for both, I've posted some of my own definitions of bountiful and Bountiful below. I hope that you will take a few moments to do the same.<br><br>Why? Because what qualifies as bountiful to you will likely offer hope and appreciation to somebody who is having a difficult time finding the bounty of their own life in their own town.<br><br>When you've had time to collect some thoughts of your own, please Click here to enter your own definition(s) and picture(s). They will appear in the Premier edition of Our Bountiful Town and its affiliatied social media sites.<br><br>Consider this an easy introduction to discovering, celebrating, and supporting Our Bountiful Town.com</p>
</div>
<div id="greenline3"></div>
<div id="about_div1">
	<img id="about_img3" src="/img/pitt3.jpg">
</div>
<div id="about_div2">
	<p id="about_text55">bountiful is - the entire family, all-together, in any attire, at any location, for any reason.</p>
</div>
<div id="about_div1">
	<img id="about_img3" src="/img/pitt2.jpg">
</div>
<div id="about_div2"><p id="about_text55">Bountiful is - the entire family, all-together, in doofy matching pajama bottoms, on a snowy Christmas morning....at Home.</p>
</div>

<div id="greenline3"></div>
<div id="about_div1">
	<img id="about_img3" src="/img/bakery2.jpg">
</div>
<div id="about_div2">
	<p id="about_text55">bountiful is - any assortment of fresh baked goods.</p>
</div>
<div id="about_div1">
	<img id="about_img3" src="/img/bakery1.jpg">
</div>
<div id="about_div2"><p id="about_text55">Bountiful is - any assorment of fresh baked goods from the Bakery at Dick's Market.</p>
</div>

<div id="greenline3"></div>
<div id="about_div1">
	<img id="about_img3" src="/img/dad1.jpg">
</div>
<div id="about_div2">
	<p id="about_text55">bountiful is - anytime a son thanks his best friend...his Dad.</p>
</div>
<div id="about_div1">
	<img id="about_img3" src="/img/dad2.jpg">
</div>
<div id="about_div2"><p id="about_text55">
Bountiful is - anytime a leading 3-point shooter in the nation thanks his best 
coach...his dad.</p>
</div>


<!-- <div ng-controller="WhatsController as whatsCtrl">
	<div ng-repeat="what in whatsCtrl.what">
		<div id="greenline3"></div>
		<div id="about_div1">
			<img id="about_img3" src="/img/sunset2.png">
		</div>
		<div id="about_div2">
			<p id="comment_name2"><i><span ng-bind="what.user_name"></span> says,</i></p>
			<p id="comment_comment">"<span ng-bind="what.comment"></span>"</p>	
			<button id="remove" ng-click="whatsCtrl.removeWhat(what)">Remove</button>
		</div>
	</div>
</div>
<div id="greenline3"></div>
<div id="form">
		<input ng-model="whatsCtrl.newWhat.user_name" require placeholder="user name">
		<textarea ng-model="whatsCtrl.newWhat.comment" require placeholder="What does BOUNTIFUL mean to me?"></textarea>
		<a href="#/what_mean"><button id= "reserve" ng-click="whatsCtrl.addWhat(whatsCtrl.newWhat)">Post</button></a>
</div>
 -->